    .box-filtro{
         margin-bottom: 30px;
        max-width: 235px;
     }
 
    #filter-panel{
       margin-top: 0px;
        border-radius: 0;
     }

     #first-panel{
         margin-top: 5px;
       border-radius:  5px 5px 0px 0px;
     }
     .not-shown{
        display: none;
   }

   }

    .device-box{
        border: solid 1px;
        height: 446px;
        max-width: 235px;
    }
