.title{
    font-family:Arial Rounded MT Bold;
    color:#DF0101;
    font-size:25px;
    font-weight:bold;
    float:left;

}

.immagedx{
	height:60%; 
	width: 60%; 
	float:left;

}

.immagesx{
	height:60%; 
	width: 60%; 
	float:right;
} 