.subtitle{
		font-size: 20px;
        color:#2e7e98;
        font-weight:bold;
       } 
        
.title{
    font-family:Arial Rounded MT Bold;
    color:#DF0101;
    font-size: 30px;
    text-align: center;
    font-weight:bold;
}        